* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-width: 320px;
   background: #444;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.wrapper {
   max-width: 1150px;
   width: 100%;
   background: #f9f9f9;
}

.main-header {
   padding-top: 20px;
}

.main-header,
.nav {
   display: flex;
   flex-direction: column;
}

.name {
   font-size: 1.8rem;
   align-self: center;
}

.nav {
   margin-top: 10px;
   margin-bottom: 10px;
}

.nav a {
   display: block;
   font-weight: 600;
   text-align: center;
   padding: 8px;
   text-decoration: none;
   color: #444;
   border-bottom: 1px solid #d4d6d6;
}

.nav a:hover {
   color: #222;
   border-bottom-color: #3782a0;
}

/* ********************************
   MAIN CONTENT
   ******************************** */

.profile-intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

.profile-img-container {
   width: 70%;
   height: auto;
   padding: 20px;
   background: #e9e9e9;

   display: flex;
   justify-content: center;
   align-items: center;
}

#profile-img {
   border-radius: 50%;
   width: 60%;
}

.intro-para-container {
   margin-top: 25px;
   width: 90%;
   height: auto;
}

.intro-para-container p {
   text-align: justify;
}

/* **** intro ends here **** */

/* ****************************************
   PORTFOLIO SECTION 
   ****************************************/

.portfolio {
   width: 100%;
   background: #fff;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.portfolio h3 {
   text-align: center;
   margin-top: 80px;
   text-transform: uppercase;
}

.port-wrapper {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.box {
   /* Port-Cards 2nd class */
   width: 90%;
   margin-top: 45px;
}

.port-img {
   width: 100%;
   align-items: flex-start;
}
/* ************************** END PORTFOLIO SECTION ******/

/* **************************
   SKILLS SECTION
   **************************/

.card-titles {
   text-align: center;
   margin-top: 25px;
}

.card-para {
   text-align: center;
   margin-top: 15px;
}

.skills {
   width: 100%;
   background: #fff;

   display: flex;
   flex-direction: column;
   align-items: center;
}

/* ********************************
   MEDIA QUERIES
   ******************************** */
@media (min-width: 320px) {
   .name {
      font-size: 1.6rem;
   }
}

@media (min-width: 768px) {
   .main-header {
      height: 200px;
   }

   .nav {
      margin-top: 30px;
      flex-direction: row;
      justify-content: center;
   }

   .nav a {
      font-size: 1.2rem;
      margin-right: 30px;
      border-bottom: transparent;
   }

   .nav a:nth-child(3) {
      margin-right: 0;
   }

   .name {
      font-size: 2rem;
   }

   .profile-intro {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 30px;
   }

   .profile-img-container {
      max-width: 360px;
   }

   .intro-para-container {
      max-width: 355px;
      align-self: flex-start;
      margin-top: 0;
      margin-right: 10px;
   }

   /* **********************************
      PORTFOLIO SECTION --> @MEDIA 768px
     ***********************************/

   .port-wrapper {
      /* flex-direction: row; */
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
   }

   .box {
      width: 49%;
   }
}

@media (min-width: 1024px) {
   .wrapper {
      padding: 0 35px;
   }

   .main-header {
      flex-direction: row;
      padding-top: 0;
   }

   .nav {
      align-self: center;
   }

   .nav a {
      margin-left: 25px;
      font-size: 1.3rem;
   }

   .name {
      margin-right: auto;
      /* margin-left: 40px; */
      /* font-size: 2.4rem; */
   }

   .profile-intro {
      padding: 0;
      justify-content: space-between;
   }

   .profile-img-container {
      max-width: 460px;
      padding: 25px;
   }

   .intro-para-container {
      max-width: 460px;
      align-self: flex-start;
      margin-top: 0;
   }

   .intro-para-container p {
      font-size: 1.3rem;
      margin-right: 10px;
   }

   /* ********************************
     PORTFOLIO SECTION
     *********************************/

   .port-wrapper {
      flex-wrap: wrap;
      padding: 0;
   }

   .box {
      width: 32%;
   }
}
