* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #444;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.wrapper {
   max-width: 1200px;
   width: 100%;
   background: #f9f9f9;
   height: 100vh;
}

.main-header {
   padding-top: 20px;
}

.main-header,
.nav {
   display: flex;
   flex-direction: column;
}

.name {
   font-size: 1.8rem;
   align-self: center;
}

.nav {
   margin-top: 10px;
   margin-bottom: 10px;
}

.nav a {
   display: block;
   font-weight: 600;
   text-align: center;
   padding: 8px;
   text-decoration: none;
   color: #444;
   border-bottom: 1px solid #d4d6d6;
}

.nav a:hover {
   color: #222;
   border-bottom-color: #3782a0;
}

.profile-intro {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-container {
   width: 175px;
   height: 125px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   padding: 5px;
   border: 2px solid red;
}

#profile-img {
   border-radius: 50%;
   width: 85px;
}

/* ********************************
   MAIN CONTENT
   ******************************** */

.portfolio {
   background: #fff;
}

/* ********************************
   MEDIA QUERIES
   ******************************** */
@media (min-width: 320px) {
   .name {
      font-size: 1.6rem;
   }
}

@media (min-width: 768px) {
   .main-header {
      height: 200px;
   }

   .nav {
      margin-top: 30px;
      flex-direction: row;
      justify-content: center;
      /* border: 1px solid red; */
   }

   .nav a {
      font-size: 1.2rem;
      margin-right: 30px;
      border-bottom: transparent;
   }

   .nav a:nth-child(3) {
      margin-right: 0;
   }

   .name {
      font-size: 2rem;
   }
}

@media (min-width: 1024px) {
   .wrapper {
      padding: 0 40px;
   }

   .main-header {
      flex-direction: row;
      padding-top: 0;
      /* border: 2px solid red; */
   }

   .nav {
      align-self: center;
      /* margin-right: 40px; */
   }

   .nav a {
      margin-left: 25px;
      font-size: 1.3rem;
   }

   .name {
      margin-right: auto;
      /* margin-left: 40px; */
      /* font-size: 2.4rem; */
   }
}
