* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-width: 320px;
   background: #444;
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family: "Montserrat", sans-serif;
}

.wrapper {
   max-width: 1150px;
   width: 100%;
   background: #f9f9f9;
}

.main-header {
   padding-top: 20px;
   background: #f7f7f7;
}

.main-header,
.nav {
   display: flex;
   flex-direction: column;
}

.name {
   font-size: 1.8rem;
   align-self: center;
}

.nav {
   margin-top: 10px;
   margin-bottom: 10px;
}

.nav a {
   display: block;
   font-weight: 600;
   text-align: center;
   padding: 8px;
   text-decoration: none;
   color: #444;
   border: 1px solid #d4d6d6;
}

.nav a:hover {
   color: #222;
   border-bottom-color: #3782a0;
}

/* ********************************
   MAIN CONTENT
   ******************************** */

.profile-intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

.profile-img-container {
   width: 70%;
   height: auto;
   padding: 20px;
   background: #e9e9e9;

   display: flex;
   justify-content: center;
   align-items: center;
}

.profile-span {
   color: #650000;
   font-weight: bold;
}

#profile-img {
   border-radius: 50%;
   width: 60%;
}

.intro-para-container {
   margin-top: 25px;
   width: 90%;
   height: auto;
   border: 2px solid red;
}

.intro-para-container p {
   text-align: left;
   line-height: 1.4;
   font-weight: 400;
}

/* **** intro ends here **** */

/* ****************************************
   PORTFOLIO SECTION 
   ****************************************/

.portfolio {
   width: 100%;
   background: #fff;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.portfolio h3 {
   text-align: center;
   margin-top: 80px;
   text-transform: uppercase;
}

.port-wrapper {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.box {
   /* Port-Cards 2nd class */
   width: 90%;
   margin-top: 45px;
   box-shadow: 0 0 5px #888;
   padding: 0 10px 25px;
}

.port-img {
   width: 100%;
   align-items: flex-start;
}

.card-titles {
   text-align: center;
   margin-top: 25px;
}

.card-para {
   text-align: center;
   margin-top: 15px;
}
/* ************************** END of PORTFOLIO SECTION ******/

/* **************************
   SKILLS SECTION
   **************************/

.skills {
   /* ******* SKILLS SECTION CLASS ******* */
   width: 100%;
   background: #fff;
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-top: 2px solid #d7d7d7;
}

.skills-title {
   margin: 30px 0;
   text-transform: uppercase;
}

.skills-heading {
   text-align: center;
   padding: 20px 0;
   /* margin: 20px 0; */
   font-size: 1.8rem;
   font-weight: bold;
   color: #f9f9f9;
   background-color: #35424d;
   text-transform: uppercase;
   /* border: 2px solid red; */
}

.skills-wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* border: 2px solid red; */
}

.skills-container {
   width: 90%;
   margin-bottom: 15px;
   border: 2px solid #484848;
}

.skills-container p {
   padding: 25px 15px;
   text-align: justify;
}

/* ********************************
   CONTACT and FOOTER SECTION 
   ********************************/

.contact {
   margin: 70px 0 0;
   display: flex;
   justify-content: center;
}

.contact-heading {
   margin-bottom: 40px;
}
.contact-container {
   width: 90%;
   padding: 20px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-phone,
.contact-email {
   font-size: 0.9rem;
}

.contact-phone {
   margin-bottom: 20px;
}

.contact-email {
   margin-bottom: 10px;
}

.contact-para {
   margin-bottom: 25px;
   text-align: center;
   font-size: 1.2rem;
}

footer {
   height: 90px;
   margin-top: 10px;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-nav {
   display: none;
}

/* ********************************
   MEDIA QUERIES
   ******************************** */
@media (min-width: 320px) {
   .name {
      font-size: 1.6rem;
   }
}

@media (min-width: 768px) {
   .main-header {
      height: 200px;
   }

   .nav {
      margin-top: 30px;
      flex-direction: row;
      justify-content: center;
   }

   .nav a {
      font-size: 1.2rem;
      margin-right: 20px;
      border: 1px solid #989898;
   }

   .nav a:hover {
      background-color: #e3e3e3;
   }

   .nav a:nth-child(4) {
      margin-right: 0;
   }

   .name {
      font-size: 2rem;
   }

   .profile-intro {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 30px;
   }

   .profile-img-container {
      max-width: 360px;
   }

   .intro-para-container {
      max-width: 355px;
      align-self: flex-start;
      margin-top: 0;
      margin-right: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
   }

   /* **********************************
      PORTFOLIO SECTION --> @MEDIA 768px
     ***********************************/

   .port-wrapper {
      /* flex-direction: row; */
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
   }

   .box {
      width: 49%;
   }
   /* ***************
      SKILLS SECTION
      ***************/

   .skills-wrapper {
      justify-content: space-around;
   }

   .skills-container {
      width: 49%;
   }
   /* ********************************
   CONTACT and FOOTER SECTION 
   ********************************/

   .contact-phone,
   .contact-email {
      font-size: 1.2rem;
   }

   .contact-phone {
      margin-bottom: 20px;
   }

   .contact-email {
      margin-bottom: 10px;
   }

   .contact-para {
      margin-bottom: 25px;
      font-size: 1.2rem;
   }

   footer {
      font-size: 1.2rem;
      height: 100px;
      margin-top: 10px;
      padding: 0 60px;
   }

   #bottom-anchor {
      display: none;
   }

   .footer-nav {
      display: flex;
      list-style: none;
   }

   .footer-nav a {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      padding: 8px;
      text-decoration: none;
      color: #444;
      border: 1px solid #595959;
      margin-right: 20px;
      user-select: none;
   }

   .footer-nav a:hover {
      color: #000;
      background-color: #bdbdbd;
   }

   .footer-nav a:nth-child(4) {
      margin-right: 0;
   }
}

@media (min-width: 1024px) {
   .wrapper {
      padding: 0 35px;
   }

   .main-header {
      flex-direction: row;
      padding-top: 0;
   }

   .nav {
      align-self: center;
   }

   .nav a {
      margin-left: 25px;
      font-size: 1.3rem;
   }

   .name {
      margin-right: auto;
      /* margin-left: 40px; */
      /* font-size: 2.4rem; */
   }

   .profile-intro {
      padding: 0;
      justify-content: space-between;
   }

   .profile-img-container {
      max-width: 460px;
      padding: 25px;
   }

   .intro-para-container {
      max-width: 460px;
      align-self: flex-start;
      margin-top: 0;
   }

   .intro-para-container p {
      font-size: 1.3rem;
      margin-right: 10px;
   }

   /* ********************************
     PORTFOLIO SECTION
     *********************************/

   .port-wrapper {
      flex-wrap: wrap;
      padding: 0;
   }

   .box {
      width: 32%;
   }

   /* ********************************
   CONTACT and FOOTER SECTION 
   ********************************/

   .contact {
      margin: 70px 0 0;
   }

   .contact-phone,
   .contact-email {
      font-size: 1.4rem;
   }

   .contact-phone {
      margin-bottom: 20px;
   }

   .contact-email {
      margin-bottom: 10px;
      font-size: 1rem;
   }

   .contact-para {
      margin-bottom: 25px;
   }

   footer {
      font-size: 1.2rem;
      height: 100px;
      margin-top: 10px;
      padding: 0 60px;
   }

   .footer-name {
      font-size: 1.6rem;
   }
}
